<% if signed_in? %>

<!-- TÍTULO -->
<div class="row">
  <div class="large-12 columns main-content-top">
    <h2>Usuários</h2>
  </div>
</div>

<div class="content_wrapper">
  <div class="row">
    <div class="large-12 columns">
      <h4><%= link_to 'Adicionar Usuário', new_user_path %></h4>
      <h4><%= link_to 'Editar Meu Perfil', edit_user_path(current_user) %></h4><br><br>
      <h2>Lista de Usuários</h2>
      <% @users.each do |user| %>
      <h4><%= user.name %></h4>
      <% end %>
      <br>
      <br>
    </div>
  </div>
</div>

<% end %>