
<div class="top-header">
  <div class="main-wrapper">
    <div class="row">
      <div class="large-8 columns">
        <ul class="inline-list">
          <li><a href="#">Home</a></li>
          <li><a href="#">Podcast</a></li>
          <li><a href="#">Agenda</a></li>
          <li><a href="#">Fotos</a></li>
          <li><a href="#">Vídeos</a></li>
          <li><a href="#">Colunas</a></li>
          <li><a href="#">Equipe</a></li> 
          <li><a href="#">Contato</a></li>           
        </ul>
      </div>
      <div class="small-4 columns  text-right">
        <span>(00) 000.0000</span><a href="#" class="button login"><i class="icon-lock"></i>Login</a>
      </div> 
    </div>
  </div>
</div>
<!-- Begin Main Wrapper -->
<div class="main-wrapper">
  <!-- Main Navigation -->  
  <header class="row main-navigation">
    <div class="large-3 columns"> 
      <a href="index.html" id="logo"><img src="images/logo.png" alt="Alcatron Logo" /></a>
    </div>
    <div class="large-9 columns">     
      <nav class="top-bar">
        <ul class="title-area">
          <!-- Title Area -->
          <li class="name"></li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
        <!-- Left Nav Section -->
          <ul class="right">
          <li><a class="active" href="index.html">Home</a></li>
          <!-- Exemplo dropdown início
          <li class="has-dropdown"><a href="#">Podcast</a>
            <ul class="dropdown">
            <li><a href="grid.html">Grid</a></li>
            <li><a href="navigation.html">Navigation</a></li>
            <li><a href="buttons.html">Buttons</a></li>
            <li><a href="forms.html">Forms</a></li>
            <li><a href="typography.html">Typography</a></li>
            <li><a href="orbit.html">Orbit - Foundation Slider</a></li>
            <li><a href="clearing.html">Clearing -  Responsive Lightboxes</a></li>
            <li><a href="dropdown.html">Dropdown</a></li>
            <li><a href="joyride.html">Joyride</a></li>
            <li><a href="magellan.html">Magellan</a></li>
            <li><a href="reveal.html">Reveal - Modal dialogs / pop-up windows</a></li>
            <li><a href="section.html">Section - Accordion, Tabs &amp; Vertical Nav</a></li>
            <li><a href="tooltips.html">Info tooltips</a></li>
            </ul>
          </li>
          Exemplo dropdown fim -->
          <li><a href="#">Podcast</a></li>                    
          <li><a href="#">Agenda</a></li>
          <li><a href="#">Fotos</a></li>
          <li><a href="#">Vídeos</a></li>
          <li><a href="#">Colunas</a></li>
          <li><a href="#">Equipe</a></li>
          <li><a href="#">Contato</a></li>
          </ul>
          <!-- End Left Nav Section -->          
        </section>
      </nav>
    </div>
  </header>
  <!-- Start Main Slider -->
  <div class="row">
    <div class="large-12 columns">            
       <div class="slider-wrapper theme-default">
        <div id="slider" class="nivoSlider">
          <img src="images/slide1.jpg" data-thumb="images/slide1.jpg" alt="" title="#caption1" />
          <a href="http://www.google.com/"><img src="images/slide2.jpg" data-thumb="images/demo/slide2.jpg" alt="" title="#caption2"  /></a>
          <img src="images/slide3.jpg" data-thumb="images/slide3.jpg" alt="" title="#caption3" />
        </div>
        <div id="caption1" class="nivo-html-caption">
          <p class="nivotitle v1">Fully responsive</p> 
          <p class="nivotitle v2">Lots of shortcodes</p> 
          <p class="nivotitle v3">Built on foundation 4</p> 
        </div>
        <div id="caption2" class="nivo-html-caption">
          <p class="nivotitle v1">Dynamic contact form</p> 
          <p class="nivotitle v2">Documentation</p> 
          <p class="nivotitle v3">Easy to use and abuse</p> 
        </div>
        <div id="caption3" class="nivo-html-caption">
          <p class="nivotitle v1">Fully responsive</p> 
          <p class="nivotitle v2">Lots of shortcodes</p> 
          <p class="nivotitle v3">Built on foundation 4</p> 
        </div>
      </div>      
    </div>
  </div>
  <!-- End Main Slider -->

  <!-- Main Content -->
  <div class="row main-content">  
    <div class="large-12 columns">
      <div class="row">   
        <div class="large-3 columns">
          <div class="featured-block">
            <a href="#">
              <span class="icon-sitemap fblock-icon"></span>
              <div class="fblock-content">
                <p class="fblock-main">Podcast <strong></strong></p>
                <p class="fblock-sub">Learn more</p>
              </div>
            </a>
          </div>
        </div>
        <div class="large-3 columns">
          <div class="featured-block">
            <a href="#">
              <span class="icon-lightbulb fblock-icon"></span>
              <div class="fblock-content">
                <p class="fblock-main">Artigos <strong></strong></p>
                <p class="fblock-sub">Learn more</p>
              </div>
            </a>
          </div>
        </div>
        <div class="large-3 columns">
          <div class="featured-block">
            <a href="#">
              <span class="icon-laptop fblock-icon"></span>
              <div class="fblock-content">
                <p class="fblock-main">AlissonTV <strong></strong></p>
                <p class="fblock-sub">Learn more</p>
              </div>
            </a>
          </div>
        </div>
        <div class="large-3 columns">
          <div class="featured-block">
            <a href="#">
              <span class="icon-cogs fblock-icon"></span>
              <div class="fblock-content">
                <p class="fblock-main">Equipe <strong></strong></p>
                <p class="fblock-sub">Learn more</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="large-12 columns">
      <div class="row">   
        <div class="large-12 columns">
          <div class="title-block">
            <div class="icon-container"><i class="icon icon-picture"></i></div>
            <span class="arrow-right"></span>
            <h3>Últimas atualizações</h3>
            <div class="clearfix"></div>
          </div>
        </div>    
      </div>
    </div>
    
    <div class="large-12 columns">      
      <div class="work_slide">
        <ul id="work_slide">
          <li>
            <div class="view view-two"> 
              <img src="images/demo/post/post-5.png" alt="" /> 
              <div class="mask"> 
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Aenean eget mauris nibh, eu pellentesque ipsum. The lorem is totally site amet.</p>
                <a class="button btn-icon" href="images/demo/singlepost/spost.png" data-rel="prettyPhoto"><i class="icon-zoom-in icon-large"></i></a>
                <a class="button btn-icon icon-2" href="portfolio-single.html"><i class="icon-external-link icon-large"></i></a> 
              </div>
            </div>
          </li>
          <li>
            <div class="view view-two"> 
              <img src="images/demo/post/post-6.png" alt="" /> 
              <div class="mask"> 
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Aenean eget mauris nibh, eu pellentesque ipsum. The lorem is totally site amet.</p>
                <a class="button btn-icon" href="#"><i class="icon-zoom-in icon-large"></i></a>
                <a class="button btn-icon icon-2" href="#"><i class="icon-external-link icon-large"></i></a> 
              </div>
            </div>
          </li>
           <li >
            <div class="view view-two"> 
              <img src="images/demo/post/post-7.png" alt="" /> 
              <div class="mask"> 
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Aenean eget mauris nibh, eu pellentesque ipsum. The lorem is totally site amet.</p>
                <a class="button btn-icon" href="#"><i class="icon-zoom-in icon-large"></i></a>
                <a class="button btn-icon icon-2" href="#"><i class="icon-external-link icon-large"></i></a> 
              </div>
            </div>
          </li>
           <li>
            <div class="view view-two"> 
              <img src="images/demo/post/post-8.png" alt="" /> 
              <div class="mask"> 
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Aenean eget mauris nibh, eu pellentesque ipsum. The lorem is totally site amet.</p>
                <a class="button btn-icon" href="#"><i class="icon-zoom-in icon-large"></i></a>
                <a class="button btn-icon icon-2" href="#"><i class="icon-external-link icon-large"></i></a> 
              </div>
            </div>
          </li>
           <li>
            <div class="view view-two"> 
              <img src="images/demo/post/post-9.png" alt="" /> 
              <div class="mask"> 
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Aenean eget mauris nibh, eu pellentesque ipsum. The lorem is totally site amet.</p>
                <a class="button btn-icon" href="#"><i class="icon-zoom-in icon-large"></i></a>
                <a class="button btn-icon icon-2" href="#"><i class="icon-external-link icon-large"></i></a> 
              </div>
            </div>
          </li>
           <li>
            <div class="view view-two"> 
              <img src="images/demo/post/post-10.png" alt="" /> 
              <div class="mask"> 
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Aenean eget mauris nibh, eu pellentesque ipsum. The lorem is totally site amet.</p>
                <a class="button btn-icon" href="#"><i class="icon-zoom-in icon-large"></i></a>
                <a class="button btn-icon icon-2" href="#"><i class="icon-external-link icon-large"></i></a> 
              </div>
            </div>
          </li>
           <li>
            <div class="view view-two"> 
              <img src="images/demo/post/post-11.png" alt="" /> 
              <div class="mask"> 
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Aenean eget mauris nibh, eu pellentesque ipsum. The lorem is totally site amet.</p>
                <a class="button btn-icon" href="#"><i class="icon-zoom-in icon-large"></i></a>
                <a class="button btn-icon icon-2" href="#"><i class="icon-external-link icon-large"></i></a> 
              </div>
            </div>
          </li>
        </ul>
    
        <div class="clearfix"></div>
        <a class="prev" id="slide_prev" href="#"><img src="images/arrow_left.png" alt="Previous" /></a>
        <a class="next" id="slide_next" href="#"><img src="images/arrow_right.png" alt="Next" /></a>
      </div>
    </div>

    <!-- PROMO
    <div class="clearfix"></div>
    <div class="large-12 columns">
      <div class="promo">
        <div class="large-10 columns">
          <span><strong>Alcatron</strong>is a Creative <strong>Multipurpose Theme</strong>, Fully Customizable & User Friendly</span>
        </div>
        <div class="large-2 columns text-center">
          <a href="#" class="button large shadow-button">Purchase it now</a>   
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  -->
    
      <div class="large-12 columns">  
        <div class="row">
          <div class="large-4 columns">     
            <div class="title-block">         
              <div class="icon-container"><i class="icon icon-copy"></i></div>
              <span class="arrow-right"></span>
              <h3>Últimos Artigos</h3>  
              <div class="clearfix"></div>            
            </div>
              
            <div class="module_content popular-posts">
              <article class="row collapse">
                <div class="small-5 columns">
                  <div class="mod_con_img">
                    <img src="images/demo/post/post-7.png" alt="post-img">
                    <ul class="meta">
                      <li><i class="icon-time"></i>Apr 22, 2013</li>
                    </ul>
                  </div>
                </div>
                <div class="small-7 columns">
                  <div class="mod_con_text">
                    <h5>Will 2013 be the year of the smartwatch?</h5>
                    <p>Lorem quis bibendum auctor, nisi elit consequat ipsum, nec </p>
                    <a href="#">Read More</a>
                  </div>
                </div>
              </article>
              <article class="row collapse">
                <div class="small-5 columns">
                  <div class="mod_con_img">
                    <img src="images/demo/post/post-8.png" alt="post-img">
                    <ul class="meta">
                      <li><i class="icon-time"></i>Apr 22, 2013</li>
                    </ul>
                  </div>
                </div>
                <div class="small-7 columns">
                  <div class="mod_con_text">
                    <h5>Will 2013 be the year of the smartwatch?</h5>
                    <p>Lorem quis bibendum auctor, nisi elit consequat ipsum, nec </p>
                    <a href="#">Read More</a>
                  </div>
                </div>
              </article>
              <article class="row collapse">
                <div class="small-5 columns">
                  <div class="mod_con_img">
                    <img src="images/demo/post/post-9.png" alt="post-img">
                    <ul class="meta">
                      <li><i class="icon-time"></i>Apr 22, 2013</li>
                    </ul>
                  </div>
                </div>
                <div class="small-7 columns">
                  <div class="mod_con_text">
                    <h5>Will 2013 be the year of the smartwatch?</h5>
                    <p>Lorem quis bibendum auctor, nisi elit consequat ipsum, nec </p>
                    <a href="#">Read More</a>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <div class="large-4 columns">       
            <div class="title-block">         
              <div class="icon-container"><i class="icon icon-globe"></i></div>
              <span class="arrow-right"></span>
              <h3>Equipe</h3> 
              <div class="clearfix"></div>            
            </div>
            <div class="module_content">
              <ul class="large-block-grid-2">
                <li><img src="images/demo/client/client_img.png" alt="client_img"></li>
                <li><img src="images/demo/client/client_img.png" alt="client_img"></li>
                <li><img src="images/demo/client/client_img.png" alt="client_img"></li>
                <li><img src="images/demo/client/client_img.png" alt="client_img"></li>
                <li><img src="images/demo/client/client_img.png" alt="client_img"></li>
                <li><img src="images/demo/client/client_img.png" alt="client_img"></li>
                <li><img src="images/demo/client/client_img.png" alt="client_img"></li>
                <li><img src="images/demo/client/client_img.png" alt="client_img"></li>
              </ul>
            </div>
          </div>
          <div class="large-4 columns">
            <div class="title-block">         
              <div class="icon-container"><i class="icon icon-comment"></i></div>
              <span class="arrow-right"></span>
              <h3>Frases(?)Dicas(?)</h3>
              <div class="clearfix"></div>      
            </div>
            <div class="module_content testimonial-block">
              <ul id="testimonial_slide">
                <li>
                  <div class="testimonial-content">
                    <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. </p>
                  </div>
                  <cite>John Smith</cite>
                  <p class="test_author">Web Designer</p>
                </li>
                <li>
                  <div class="testimonial-content">
                    <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. </p>
                  </div>
                  <cite>George Carrera</cite>
                  <p class="test_author">Web Designer</p>
                </li>
              </ul>
              <div class="clearfix"></div>
              <a class="prev" id="slide_prev1" href="#"><img src="images/arrow_left.png" alt="Previous" /></a>
              <a class="next" id="slide_next1" href="#"><img src="images/arrow_right.png" alt="Next" /></a>
            </div>
          </div>
        </div>
    
    </div>
  </div>
</div>
<div class="footer_wrapper">
  <footer class="row footer-part">
    <div class="large-12 columns">
      <div class="row">
        
        <div class="large-3 columns">
          <h4 class="footer-title">Facebook</h4>
          <div class="footer_part_content">
            <p>Feeds facebook</p>
            <div class="row collapse">
            </div>
          </div>
        </div>


        <div class="large-3 columns">
          <h4 class="footer-title">Twitter</h4>
          <div id="tweetFeed"> </div> 
          <p>Feeds twitter</p>
        </div>


        <div class="large-3 columns">
          <h4 class="footer-title">Sobre</h4>
          <div class="footer_part_content">
            <p><b>O site tal</b> surgiu de tal ideia, tal lugar, blablabla.</p>
            <ul class="about-info">
              <li><i class="icon-home"></i><span>Las Vegas, USA</span></li>
              <li><i class="icon-phone"></i><span>(00) 000.0000</span></li>
              <li><i class="icon-envelope"></i><a href="mailto:alisson@alisson.com">alisson@alisson.com</a></li>
            </ul>
          </div>
        </div>
          
        <div class="large-3 columns"> 
          <h4 class="footer-title">Contato</h4>
          <form method="POST" action="#" id="footer-contact-form">
            <div class="footer_part_content">
              <div class="row">
                <div class="small-6 columns">
                  <input type="text" placeholder="Nome"  name="name" />
                </div>
                <div class="small-6 columns">
                  <input type="text" placeholder="E-mail" name="email" />
                </div>
                <div class="small-12 columns">
                  <textarea cols="10" rows="15"  name="message" placeholder="Mensagem"></textarea>
                </div>
                <div class="small-4 columns">
                <input type="submit" class="button right" value="Enviar" name="send" />
                </div>
                
              </div>
            </div>
          </form>
        </div> 
      </div>
    </div>
  </footer>

  <div class="privacy footer-part">
     <a href="#" class="scrollup">Scroll</a>
    <div class="row footer_bottom">
      <div class="large-6 columns">
        <p>&copy; 2013 Aline</p>
      </div>
      <div class="large-2 columns right">
        <div class="row collapse">
          <ul class="social-icons">
            <li><a href="#"><i class="icon-pinterest"></i></a></li>
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-facebook"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script> 


  <script src="js/foundation.min.js"></script>


  <script>
  $(document).foundation();
  </script>  

  <!-- Smallipop JS - Tooltips -->
  <script type="text/javascript" src="plugins/smallipop/lib/contrib/prettify.js"></script>
  <script type="text/javascript" src="plugins/smallipop/lib/jquery.smallipop.js"></script>
  <script type="text/javascript" src="plugins/smallipop/lib/smallipop.calls.js"></script> 

  <!-- Initialize JS Plugins -->
  <script src="js/app-bottom-calls.js"></script>  

<!-- End Main Wrapper -->