<!-- Start Main Slider -->
<div class="row">
  <div class="large-12 columns">            
   <div class="slider-wrapper theme-default">
    <div id="slider" class="nivoSlider">
      <img src="images/slide1.jpg" data-thumb="images/slide1.jpg" alt="" title="#caption1" />
      <a href="http://www.google.com/"><img src="images/slide2.jpg" data-thumb="images/demo/slide2.jpg" alt="" title="#caption2"  /></a>
      <img src="images/slide3.jpg" data-thumb="images/slide3.jpg" alt="" title="#caption3" />
    </div>
    <div id="caption1" class="nivo-html-caption">
      <p class="nivotitle v1">Fully responsive</p> 
      <p class="nivotitle v2">Lots of shortcodes</p> 
      <p class="nivotitle v3">Built on foundation 4</p> 
    </div>
    <div id="caption2" class="nivo-html-caption">
      <p class="nivotitle v1">Dynamic contact form</p> 
      <p class="nivotitle v2">Documentation</p> 
      <p class="nivotitle v3">Easy to use and abuse</p> 
    </div>
    <div id="caption3" class="nivo-html-caption">
      <p class="nivotitle v1">Fully responsive</p> 
      <p class="nivotitle v2">Lots of shortcodes</p> 
      <p class="nivotitle v3">Built on foundation 4</p> 
    </div>
  </div>      
</div>
</div>
<!-- End Main Slider -->

<!-- Main Content -->
<div class="row main-content">  
  <div class="large-12 columns">
    <div class="row">   
      <div class="large-3 columns">
        <div class="featured-block">
          <a href="/podcasts">
            <span class="icon-play fblock-icon"></span>
            <div class="fblock-content">
              <p class="fblock-main">Podcast <strong></strong></p>
              <p class="fblock-sub">Clique Aqui</p>
            </div>
          </a>
        </div>
      </div>
      <div class="large-3 columns">
        <div class="featured-block">
          <a href="#">
            <span class="icon-calendar fblock-icon"></span>
            <div class="fblock-content">
              <p class="fblock-main">Agenda <strong></strong></p>
              <p class="fblock-sub">Clique Aqui</p>
            </div>
          </a>
        </div>
      </div>
      <div class="large-3 columns">
        <div class="featured-block">
          <a href="#">
            <span class="icon-camera fblock-icon"></span>
            <div class="fblock-content">
              <p class="fblock-main">Fotos
                <p class="fblock-sub">Clique Aqui</p>
              </div>
            </a>
          </div>
        </div>
        <div class="large-3 columns">
          <div class="featured-block">
            <a href="#">
              <span class="icon-group fblock-icon"></span>
              <div class="fblock-content">
                <p class="fblock-main">Equipe <strong></strong></p>
                <p class="fblock-sub">Clique Aqui</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="large-12 columns">
      <div class="row">   
        <div class="large-12 columns">
          <div class="title-block">
            <div class="icon-container"><i class="icon icon-fast-forward"></i></div>
            <span class="arrow-right"></span>
            <h3>Últimos programas</h3>
            <div class="clearfix"></div>
          </div>
        </div>    
      </div>
    </div>
    
    <div class="large-12 columns">      
      <div class="work_slide">
        <ul id="work_slide">
          <li>
            <div class="view view-two"> 
              <img src="images/demo/post/post-5.png" alt="" /> 
              <div class="mask"> 
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Aenean eget mauris nibh, eu pellentesque ipsum. The lorem is totally site amet.</p>
                <a class="button btn-icon" href="images/demo/singlepost/spost.png" data-rel="prettyPhoto"><i class="icon-zoom-in icon-large"></i></a>
                <a class="button btn-icon icon-2" href="portfolio-single.html"><i class="icon-external-link icon-large"></i></a> 
              </div>
            </div>
          </li>
          <li>
            <div class="view view-two"> 
              <img src="images/demo/post/post-6.png" alt="" /> 
              <div class="mask"> 
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Aenean eget mauris nibh, eu pellentesque ipsum. The lorem is totally site amet.</p>
                <a class="button btn-icon" href="#"><i class="icon-zoom-in icon-large"></i></a>
                <a class="button btn-icon icon-2" href="#"><i class="icon-external-link icon-large"></i></a> 
              </div>
            </div>
          </li>
          <li >
            <div class="view view-two"> 
              <img src="images/demo/post/post-7.png" alt="" /> 
              <div class="mask"> 
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Aenean eget mauris nibh, eu pellentesque ipsum. The lorem is totally site amet.</p>
                <a class="button btn-icon" href="#"><i class="icon-zoom-in icon-large"></i></a>
                <a class="button btn-icon icon-2" href="#"><i class="icon-external-link icon-large"></i></a> 
              </div>
            </div>
          </li>
          <li>
            <div class="view view-two"> 
              <img src="images/demo/post/post-8.png" alt="" /> 
              <div class="mask"> 
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Aenean eget mauris nibh, eu pellentesque ipsum. The lorem is totally site amet.</p>
                <a class="button btn-icon" href="#"><i class="icon-zoom-in icon-large"></i></a>
                <a class="button btn-icon icon-2" href="#"><i class="icon-external-link icon-large"></i></a> 
              </div>
            </div>
          </li>
          <li>
            <div class="view view-two"> 
              <img src="images/demo/post/post-9.png" alt="" /> 
              <div class="mask"> 
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Aenean eget mauris nibh, eu pellentesque ipsum. The lorem is totally site amet.</p>
                <a class="button btn-icon" href="#"><i class="icon-zoom-in icon-large"></i></a>
                <a class="button btn-icon icon-2" href="#"><i class="icon-external-link icon-large"></i></a> 
              </div>
            </div>
          </li>
          <li>
            <div class="view view-two"> 
              <img src="images/demo/post/post-10.png" alt="" /> 
              <div class="mask"> 
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Aenean eget mauris nibh, eu pellentesque ipsum. The lorem is totally site amet.</p>
                <a class="button btn-icon" href="#"><i class="icon-zoom-in icon-large"></i></a>
                <a class="button btn-icon icon-2" href="#"><i class="icon-external-link icon-large"></i></a> 
              </div>
            </div>
          </li>
          <li>
            <div class="view view-two"> 
              <img src="images/demo/post/post-11.png" alt="" /> 
              <div class="mask"> 
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Aenean eget mauris nibh, eu pellentesque ipsum. The lorem is totally site amet.</p>
                <a class="button btn-icon" href="#"><i class="icon-zoom-in icon-large"></i></a>
                <a class="button btn-icon icon-2" href="#"><i class="icon-external-link icon-large"></i></a> 
              </div>
            </div>
          </li>
        </ul>

        <div class="clearfix"></div>
        <a class="prev" id="slide_prev" href="#"><img src="images/arrow_left.png" alt="Previous" /></a>
        <a class="next" id="slide_next" href="#"><img src="images/arrow_right.png" alt="Next" /></a>
      </div>
    </div>

  <div class="large-12 columns">  
    <div class="row">
      <div class="large-4 columns">     
        <div class="title-block">         
          <div class="icon-container"><i class="icon icon-lightbulb"></i></div>
          <span class="arrow-right"></span>
          <h3>O que é Podcast?</h3>  
          <div class="clearfix"></div>            
        </div>

        <div class="module_content popular-posts">

        </div>
      </div>
      <div class="large-4 columns">       
        <div class="title-block">         
          <div class="icon-container"><i class="icon icon-picture"></i></div>
          <span class="arrow-right"></span>
          <h3>Fotos</h3> 
          <div class="clearfix"></div>            
        </div>
        <div class="module_content">
          <ul class="large-block-grid-2">
            <li><img src="images/demo/client/client_img.png" alt="client_img"></li>
            <li><img src="images/demo/client/client_img.png" alt="client_img"></li>
            <li><img src="images/demo/client/client_img.png" alt="client_img"></li>
            <li><img src="images/demo/client/client_img.png" alt="client_img"></li>
            <li><img src="images/demo/client/client_img.png" alt="client_img"></li>
            <li><img src="images/demo/client/client_img.png" alt="client_img"></li>
            <li><img src="images/demo/client/client_img.png" alt="client_img"></li>
            <li><img src="images/demo/client/client_img.png" alt="client_img"></li>
          </ul>
        </div>
      </div>
      <div class="large-4 columns">
        <div class="title-block">         
          <div class="icon-container"><i class="icon icon-comment"></i></div>
          <span class="arrow-right"></span>
          <h3>Frases</h3>
          <div class="clearfix"></div>      
        </div>
        <div class="module_content testimonial-block">
          <ul id="testimonial_slide">
            <li>
              <div class="testimonial-content">
                <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. </p>
              </div>
              <cite>John Smith</cite>
              <p class="test_author">Web Designer</p>
            </li>
            <li>
              <div class="testimonial-content">
                <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. </p>
              </div>
              <cite>George Carrera</cite>
              <p class="test_author">Web Designer</p>
            </li>
          </ul>
          <div class="clearfix"></div>
          <a class="prev" id="slide_prev1" href="#"><img src="images/arrow_left.png" alt="Previous" /></a>
          <a class="next" id="slide_next1" href="#"><img src="images/arrow_right.png" alt="Next" /></a>
        </div>
      </div>
    </div>
    
  </div>
</div>