<!-- TÍTULO -->
<div class="row">
  <div class="large-12 columns main-content-top">
    <h2>O que é Podcast?</h2>
  </div>
</div>
<!-- FIM TÍTULO -->

<div class="row">
  <div class="large-12 columns"><br>
    <div class="panel"><br>
      <p>
        De uma forma imprecisa, podcast é um programa de rádio distribuído pela internet. Isso é impreciso porque existem os videocast, podcasts de vídeo. E não dá para ver vídeo num rádio, não é mesmo?<br><br>

Mais precisamente, Podcast é a junção de iPod e broadcast. Onde iPod é o famoso tocador da Apple, e broadcast significa difusão. Podcast é um conteúdo, seja somente áudio ou audiovisual, distribuído de forma independente. Totalmente internet.<br><br>

Uma curiosidade. iPod é uma referência ao EVA Pod do filme 2001 – Uma Odisséia no Espaço. Era uma nave auxiliar, transportando um único homem. Pod significa casulo, bainha. Nesse sentido, iPod é usado para você guardar algo e “carregar” sempre ao seu lado.<br><br>

Sei que no nosso mundo não vivem mais as musas da oratória, mas é poético pensar que podcast é uma “forma de distribuição de conteúdo para você levar sempre ao seu lado”.<br><br>
</p>

<h3>Que horas passa o Podcast?</h3><br>

<p>
Podcast não é síncrono como na TV ou rádio. Você escuta o seu cast quando quiser, aonde quiser e com quem quiser. Você baixa o episódio, leva para o seu player, e escolhe a melhor oportunidade. Seja no ônibus, no engarrafamento ou na espera do médico.<br><br>
</p>

<h3>Quais os temas de um Podcast?</h3><br><br>

<p>
Existem podcasts sobre os mais diversificados assuntos, de tecnologia à espiritualidade. Boa parte deles é feito de forma amadora, não que isso seja ruim, muito pelo contrário. É feito por amantes, pessoas apaixonadas pelo assunto, e portanto muito sabem sobre ele! É possível encontrar programas bem específicos que dificilmente cairiam na TV ou rádio, como podcast sobre série de TV.<br><br>

E o melhor é grátis!<br><br>

Ou seja, você escolhe a sua programação na hora e lugar que desejar. Isso é internet. Você busca e monta a sua programação. Afirmo, por esse motivo, que a audiência de um podcast é muito mais qualificada do que uma audiência de TV ou rádio.<br><br>
</p>

<h3>Existe um requisito técnico para um podcast?</h3><br><br>

<p>
Sim. O feed RSS. Lembro que existem podcast de áudio e podcasts de vídeo. O feed RSS contém os episódios do podcast. É, digamos, o guia de programação. É o feed RSS que você assina para receber automaticamente os episódios!<br><br>
</p>

<h3>E como assino um podcast?</h3><br><br>

<p>
Você pode assinar o podcast no iTunes e assim transferir para o seu iTreco. Ou ainda usar algum aplicativo que  para isso no seu iTreco, como o Instacast ou o Downcast. Ou também assinar em algum player de podcast no seu PC, como o Winamp ou o Zune. Ou em muitos casos ouvir no próprio site do podcast, o que é bem pouco prático, convenhamos.<br><br>
</p>

<h3>Como assinar no iTunes?</h3><br><br>

<p>
Busque ou insira o feed no menu Avançado/Assinar Podcast. Apesar do termo assinar, isso não envolve nenhum tipo de pagamento.<br><br>

O iTunes permite dizer a periodicidade de atualização dos casts e quantos manter. E você ainda pode alterar esses ajustes para um podcast em específico.<br><br>

Enfim, podcast é um programa que você escolhe o assunto que mais lhe interessa e leva com vc para ouvir quando e onde quiser, de graça e você pode começar a ouvir e terminar a hora que quiser. Imagine você começar a ouvir seu programa favorito, poder parar e voltar depois de onde parou. Imaginou? Isso é podcast!<br><br>
</p>

<h3>À Beira usa SoundCloud, tudo para tornar seu uso mais simples</h3><br>


<h4><%= link_to "soundcloud.com/abeira", "http://soundcloud.com/abeira" %></h4><br><br>
<p>
Se você gosta de podcast esse é o pedido que faço para você.<br><br>

O conteúdo do À Beira é totalmente livre. Use-o à vontade. 
      </p>
    </div><br><br>
  </div>
</div>